.Button {
  padding: 8px 12px;
  width: max-content;
  border: none;
  border-radius: var(--radius-sm);
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary_btn {
  background: linear-gradient(270deg, #0e5293 0%, #2876c1 97.2%);
  font-weight: 500;
  color: var(--brand-primary-light);
}
