.modal_parent_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.069);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 2;

  .modal_main_container {
    position: fixed;
    top: 0%;
    left: 0%;
    transform: translate(-0%, -0%);
    background-color: var(--card-bg);
    .header_container {
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      font-size: 24px;
      color: var(--primary-dark);
    }
  }
}
